.search-container {
    max-width: 1000px;
}

.resource-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.search-query {
    align-self: flex-start;
    text-align: start;
    font-weight: normal;
}

@media (max-width: 1200px) {
    .search-container {
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .search-container {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .search-container {
        max-width: 300px;
    }
}
